<p-table
  #dt
  dataKey="id"
  [rows]="10"
  [value]="products$ | async"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  currentPageReportTemplate="Показано с  {first} по {last} из {totalRecords}"
  [globalFilterFields]="['code', 'name', 'category', 'quantity']"
  [paginator]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Таблица</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Поиск"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code">Код <p-sortIcon field="code"></p-sortIcon></th>
      <th pSortableColumn="name">Имя <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="category">
        Категория <p-sortIcon field="category"></p-sortIcon>
      </th>
      <th pSortableColumn="quantity">
        Колличество <p-sortIcon field="quantity"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </ng-template>
</p-table>
