<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card header="Войти" [style]="{ width: '360px' }">
    <p-button label="Очистить" (click)="clear()" styleClass="w-full" type="button"></p-button>
    <div class="field mt-3">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Пиши сюда email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email обязателен</div>
        <div *ngIf="email.errors?.['email']">Email должен быть настоящим</div>
      </small>
    </div>
    <div class="field">
      <label for="password" class="w-full">Пароль</label>
      <p-password
        class="w-full"
        formControlName="password"
        name="password"
        placeholder="Пиши сюда пароль"
        autocomplete="on"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
        [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Пароль обязателен</div>
        <ui *ngIf="password.errors?.['pattern']">
          <li>Минимальная длина 8 символов</li>
          <li>Должен содержать хотя бы одну цифру</li>
          <li>Должен содержать хотя бы одну заглавную букву</li>
          <li>Должен содержать хотя бы одну строчную букву</li>
        </ui>
      </small>
    </div>
    <p-button
      label="Войти"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">
      Не зареган? <a [routerLink]="['/register']">Зарегаться</a>
    </div>
  </p-card>
</form>
