<div class="card">
  <p-table [value]="products$ | async">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Корзина</h5>
        <p-button [disabled]="!(products$ | async)?.length" (click)="clearBasket()" icon="pi pi-trash"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Имя <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="width: 10%;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr>
        <td>{{ product.name }}</td>
        <td>
          <p-button (click)="removeFormBasket(rowIndex)" icon="pi pi-minus"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
