/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin: 0;
}

.my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-alert-container {
  position: fixed;
  top: 0;
  right: 0;
}